@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: url("./images/seatBooking/bgmovie.jpg");
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    /* filter: brightness(0.5) contrast(1.2); */
}
/* :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */

//@import "./variables";

/* sm */
@media only screen and (min-width: 640px) {
}

/* md */
@media only screen and (min-width: 768px) {
    // BROWSER SCROLL BAR
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-button {
        width: 8px;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        background: rgb(255, 255, 255);
        border: thin solid rgb(238, 238, 238);
        box-shadow: 0px 0px 3px #dfdfdf inset;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        background: #ccc;
        border: thin solid #ccc;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #7d7d7d;
    }
    // END BROWSER SCROLL BAR
}
/* lg */
@media only screen and (min-width: 1024px) {
}
/* xl */
@media only screen and (min-width: 1280px) {
}
/* 2xl */
@media only screen and (min-width: 1536px) {
}
